<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @work.company %>
</p>

<p>
  <strong>Url:</strong>
  <%= @work.url %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
